In [2]:
#importing pandas from library which helps to know the database and we are assigning it as pd instead of pandas
import pandas as pd

In [11]:
#We are assigning the dataset collection in csv format in pandas and assigning it to the variable called dataset
dataset=pd.read_csv("Dataset salary.csv")

In [39]:
#seeing whats saved in the variable'dataset'
dataset

   Years of exp  Salary
0             1   14000
1             2   25000
2             3   36000
3             4   47000
4             5   58000
5             6   69000
6             7   71000
7             8   82500
8             9   91400
9            10  101000

In [13]:
#assign a variable called independent to a coloumn(years of exp) separately which is our desired input

In [17]:
independent=dataset[["Years of exp"]]
independent

   Years of exp
0             1
1             2
2             3
3             4
4             5
5             6
6             7
7             8
8             9
9            10

In [ ]:
#assigning another variable called dependent which is filtered from the dataset column named salary and viewing the variable

In [16]:
dependent=dataset[["Salary"]]
dependent

   Salary
0   14000
1   25000
2   36000
3   47000
4   58000
5   69000
6   71000
7   82500
8   91400
9  101000

In [18]:
#to split training set and test test we are importing function called train_test_split from sklearn library which
#has a function named model_selection and assigning four variable to split the test sand train set, 
#here we have taken 30 percentage for test set and 70 for train set

In [41]:
from sklearn.model_selection import train_test_split
X_test, X_train, Y_test, Y_train=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [ ]:
#after splitting we are importing LinearRegression function from sklearn library's linear_model and
#assigning it to the variable 'regressor' in the third line we allocate our input and output for test to create our model

In [42]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#after calculation our model is created and we assign the variable weight to know the weight

In [24]:
weight=regressor.coef_
weight

array([[9107.14285714]])

In [ ]:
#after calculation our model is created and we assign the variable bais to know the bais

In [26]:
bais=regressor.intercept_
bais

array([10192.85714286])

In [27]:
#Evaluation of test value and predicted value. first calculate y prediction and then find r2  value using prediction and 
#actualvalue for that import r2 value from sklearn library's metrics function

In [28]:
y_pred=regressor.predict(X_test)

In [29]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test, y_pred)

In [30]:
r_score

0.9887454798355138

In [31]:
#to save model- import pickle and name the file to be saved

In [32]:
import pickle
filename="finalized_model.sav"

In [33]:
pickle.dump(regressor, open(filename, 'wb'))

In [34]:
#to check the finalized model-load from the saved file-rb-means read the file

In [36]:
loaded_model=pickle.load(open("finalized_model.sav", 'rb'))

In [37]:
result=loaded_model.predict([[22]])

In [38]:
result

array([[210550.]])